[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dbt-postgres = "*"
dbt-snowflake = "*"

[dev-packages]
shandy-sqlfmt = {extras = ["jinjafmt"], version = "*"}

[requires]
python_version = "3.9"
